PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://postgres.xxxxx:your-url-encoded-password@aws-x-xx-xxxx-x.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://xxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_xxxxx
